<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="row">
    <div class="col-sm-1"><button type="submit" class="btn btn-primary" (click)="getdata()">All Users</button>
    </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2"><button type="submit" class="btn btn-primary" (click)="request()">Unapproved Answers</button>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-1"><button type="submit" class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
</div>
<div class="card-deck">
    <div class="card bg-warning">
      <div class="card-body text-center">
            <button type="submit" class="btn btn-primary" id="advancedata" (click)="advancedata()">Advance</button>
        <p class="advance">a</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <button type="submit" class="btn btn-primary" id="basicdata" (click)="basicdata()">Basic</button>
        <p class="basic">b</p>
      </div>
    </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input id="search" placeholder="Search" class="form-control" (click)="search()">
  </div>

  <div *ngFor="let question of questions">
      
      <div class="card-deck">
          <div class="card bg-info">
            <div class="card-body text-center">
                <div innerHTML="{{question.message}}"></div>
                <button type="submit" class="btn btn-success" (click)="approve(question.id)">Approve</button>
                <button type="submit" class="btn btn-danger" (click)="reject(question.id)">Reject</button>
            </div>
          </div>
        </div>

  </div>

<table class="table-bordered" style="width: 100%;">
    <thead class="thead-dark">
        
    </thead>

</table>